<a href="https://colab.research.google.com/github/eduardomeloo/Python-datatech/blob/master/Aula_9_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Estrutura de Dados - Container**

In [2]:
lista_1 = [10,20,30,40,50,60]
lista_2 = [500, True, 3.2, "Eduardo"]

In [6]:
print(type(lista_2))
print(type(lista_2[-1]))
print(lista_2[-1][0])

<class 'list'>
<class 'str'>
E

In [8]:
lista_4 = [10, "Thiago", ["Deivid","Diego"]]

In [10]:
print(lista_4[2][1][0])

D

In [17]:
lista_nomes = ['Eduardo', 'Tété', 'Eduardo', ["edu", "du"]]

In [18]:
print(lista_nomes)
print(len(lista_nomes))

['Eduardo', 'Tété', 'Eduardo', ['edu', 'du']]
4

In [19]:
dicionario_1 = {
    'Deivid': 25,
    'Henrique': 33,
    'Eduardo': 30
}

In [23]:
print(dicionario_1['Deivid'])
print(dicionario_1['Eduardo'])

25
30

In [24]:
dicionario_2 = {25: 'Deivid', 33: 'Henrique'}

In [26]:
print(dicionario_2[25])
print(dicionario_2[33])

Deivid
Henrique

In [31]:
alimentos = ['Arroz', 'Feijão', 'Nescau', 'Ovos']
bebidas = ['Coca-cola', 'Suco', 'Guaravita']
utilitario = ['Guarda-sol', 'Toalha de Mesa', 'Prato']

corredores = {'Corredor1':alimentos, 'Corredor2':bebidas, 'Corredor3':utilitario}

In [34]:
print(corredores['Corredor1'])
print(corredores['Corredor1'][0])

['Macarrão', 'Feijão', 'Nescau', 'Ovos']
Macarrão

In [33]:
alimentos[0] = 'Macarrão'

print(alimentos)

['Macarrão', 'Feijão', 'Nescau', 'Ovos']

In [36]:
dicionario_1['Deivid'] = 10
print(dicionario_1)

{'Deivid': 10, 'Henrique': 33, 'Eduardo': 30}

In [39]:
tupla_1 = ('Feijão', 'Macarrão', 'Sabonete')
print(tupla_1)

('Feijão', 'Macarrão', 'Sabonete')

In [43]:
print(tupla_1[0])
print(tupla_1[-1])
print(tupla_1[:2])

Feijão
Sabonete
('Feijão', 'Macarrão')

In [49]:
tupla_2 = ('Macarrão', 10, True, ['Guarda-Sol', 'Banquinho'])
print(tupla_2)

('Macarrão', 10, True, ['Guarda-Sol', 'Banquinho'])

In [50]:
#Tupla São imutáveis
tupla_2[3][1] = 'Amendoim'
print(tupla_2)

('Macarrão', 10, True, ['Guarda-Sol', 'Amendoim'])

In [52]:
mercadorias = {'Ração', 'Amendoim', 'Bolo'}
print(mercadorias)

{'Bolo', 'Amendoim', 'Ração'}

In [54]:
print(list(mercadorias)[0])

Bolo

In [64]:
alimentos = ['Arroz', 'Feijão', 'Nescau', 'Ovos']
bebidas = ['Coca-cola', 'Suco', 'Guaravita']
utilitario = ['Guarda-sol', 'Toalha de Mesa', 'Prato']

In [65]:
#Acrescenta um novo elemento no final da lista
alimentos.append('Amendoin')
print(alimentos)
#Remove o último elemento da lista
alimentos.pop()
print(alimentos)
#Insere o alimento na posição 2
alimentos.insert(2, 'Frango')
print(alimentos)
#Remove o alimento Frango
alimentos.remove('Frango')
print(alimentos)

['Arroz', 'Feijão', 'Nescau', 'Ovos', 'Amendoin']
['Arroz', 'Feijão', 'Nescau', 'Ovos']
['Arroz', 'Feijão', 'Frango', 'Nescau', 'Ovos']
['Arroz', 'Feijão', 'Nescau', 'Ovos']